html {
  height: 100%;
  width: 100%;
    }

body {
  margin: 0px;
  padding: 0px;
}

.petition{
  margin: 20px;
}
.petition-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
}
.petition-para{
  width: 55%;
  padding-right: 10px;
  
}